# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
desktop.ini
